extends layout

block stylesheets
  link(rel="stylesheet" href="/stylesheets/bootstrap-3.3.4-dist/css/bootstrap.css")

block javascripts
  script(src="/javascripts/lib/require.js" data-main="javascripts/main")

block content
  div#app

